@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    /* font-size: 16px; */
}

body {
    font-family: 'Open Sans', sans-serif;
}
 /* HOME PAGE SECTION */
.banner-wrap {
    background-image: url(assets/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 10px solid #222;
    position: relative;
    z-index: 1;
}

.overlay {
    z-index: -1;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 60%; 
    position: absolute;
    top: 0;
}

h1 {
    color: white;
    font-size: 3.2em;
}

/* NAVIGATION SECTION */
.navbar {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin: 0 45px;
    padding-top: 45px;
}
.navbar > img {
    height: 32px;
}
.navbar > a {
    background: red;
    color: white;
    padding: 7px 17px;
    text-decoration: none;
}

/* CENTRE AREA */
.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 45px);
    justify-content: center;
    text-align: center;
}
.card-title {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
}

/* EMAIL SECTION */
.email {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.get-started {
    height: 70px;
    display: flex;
}
.get-started input {
    height: 70px;
    padding-left: 10px;
    width: 450px;
}
.get-started button {
    background-color: red;
    border: none;
    color: white;
    font-size: 1.625rem;
    height: 100%;
    min-height: 60px;
    padding: 0 26px;
    border-left: 1px solid black;
}

/* TV SECTION */
.tv-info-container {
    background: black;
    border-bottom: 8px solid;
    color: white;
    display: flex;
    padding: 70px 45px; 
    border-bottom: 10px solid #222;
}
.tv-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tv-container {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    position: relative;
}
.tv-container img {
    z-index: 1;
}
.tv-container video {
    position: absolute;
}

.kids-info-container {
    background: black;
    border-bottom: 8px solid;
    color: white;
    display: flex;
    padding: 70px 45px; 
    border-bottom: 10px solid #222;
}
.kids-container {
    display: flex;
    justify-content: center;
    position: relative;
}
.kids-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watch-info-container {
    background: black;
    border-bottom: 8px solid;
    color: white;
    display: flex;
    padding: 70px 45px; 
    border-bottom: 10px solid #222;
}
.watch-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-info-container {
    background: black;
    border-bottom: 8px solid;
    color: white;
    display: flex;
    padding: 70px 45px; 
    border-bottom: 10px solid #222;
}
.mobile-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-container {
    display: flex;
    justify-content: center;
    position: relative;
}

/* BOTTOM AREA */
.footer {
    background: black;
}
.footer-top {
    margin-bottom: 30px;
}

.footer-items {
    margin: 0 47.5px;
    padding: 70px 45px;
}
.footer ul li, .footer-questions  {
    color: #757575;
}

.footer ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-questions {
    text-decoration: none;
}

.footer-questions:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    columns: 4;
    padding: 0;
}

.footer-links li {
    font-size: 13px;
    line-height: 2;
}

.footer-country {
    color: #757575;
    font-size: 13px;
    margin-top: 24px;
}

.faq-container {
    background: black;
    border-bottom: 8px solid;
    color: white;
    display: flex;
    padding: 70px 45px; 
    border-bottom: 10px solid #222;
}